<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" [routerLink]="['/home']">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/landing-page']">About Us</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']">Projects</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/landing-page']">Contact US</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
    </li>
</ul>